  /* Buat struktur submenu ke bawah */
  .dropdown-submenu {
    position: relative;
  }

  .dropdown-submenu > .dropdown-menu {
    display: none;
    position: absolute;
    top: 100%; /* ke bawah */
    left: 0;
    margin-top: 0.1rem;
    z-index: 1000;
  }

  /* Ketika aktif (dengan JS toggle class .show) */
  .dropdown-submenu.show > .dropdown-menu {
    display: block;
  }

  /* Icon panah ke bawah */
  .dropdown-submenu > a::after {
    content: "▼";
    float: right;
    margin-left: 10px;
    font-size: 0.8rem;
  }



  .navbar {
    background-color: #0a0a0a !important;
  }

  .navbar .nav-link,
  .navbar .navbar-brand {
    color: white !important;
  }

  .btn-outline-success {
  color: white;
  border-color: #ffffff;
}

.btn-outline-success:hover {
  background-color: #007bff;
  border-color: #ffffff;
}

.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
}

.btn-primary:hover {
  background-color: #0056b3;
  border-color: #004085;
}

.btn-login {
  width: 100px;
}

